<h1>Mines</h1>
<p>Finds the special floors in the mines</p>
<p>
	Monster: <% @monster.each do |level| %>
		<%= level %>
	<% end %>	

	<br>
	Slime: <% @slime.each do |level| %>
		<%= level %>
	<% end %>	

	<br>
	Mushroom: <% @mushroom.each do |level| %>
		<%= level %>
	<% end %>	
</p>