<h1>Mines</h1>
<p>Finds the special floors in the mines</p>
<p>
	<%= render partial: 'tools/floors', locals: {monster: @monster, slime: @slime, mushroom: @mushroom} %>

	<div class="row">
    <div class="col-md-12">
  		<table class="table-bordered table-striped">
        <thead>
          <tr>
            <th colspan="7" class="text-center">
              <span class="btn-group">
              	<a class="btn active">Spring Y-01</a>
              </span>
            </th>
          </tr>
          <tr>
            <th class="col-md-1">Mo</th>
            <th class="col-md-1">Tu</th>
            <th class="col-md-1">We</th>
            <th class="col-md-1">Th</th>
            <th class="col-md-1">Fr</th>
            <th class="col-md-1">Sa</th>
            <th class="col-md-1">Su</th>
          </tr>
        </thead>
        <tbody>
        	<tr>
        		<th>
        			1 <br>
        			<%= render partial: 'tools/floors', locals: {monster: @monster, slime: @slime, mushroom: @mushroom} %>	
        		</th>
        		<th>2</th>
        		<th>3</th>
        		<th>4</th>
        		<th>5</th>
        		<th>6</th>
        		<th>7</th>
        	</tr>
        	<tr>
        		<th>8</th>
        		<th>9</th>
        		<th>10</th>
        		<th>11</th>
        		<th>12</th>
        		<th>13</th>
        		<th>14</th>
        	</tr>
        	<tr>
        		<th>15</th>
        		<th>16</th>
        		<th>17</th>
        		<th>18</th>
        		<th>19</th>
        		<th>20</th>
        		<th>21</th>
        	</tr>
        	<tr>
        		<th>22</th>
        		<th>23</th>
        		<th>24</th>
        		<th>25</th>
        		<th>26</th>
        		<th>27</th>
        		<th>28</th>
        	</tr>
        </tbody>
      </table>
    </div>
	</div>
</p>